# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Environment variables file
.env

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Optional debugging logs
logs/
